

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


nav {
    background-color: greenyellow;
    color: black;
    font-size: 200%;
    font-weight: bolder;
}

div.jumbotron{
    
    margin: 0;
    
    
}
















